<html>
    <head>
        <title>ET Scheduler</title>
        <script src="https://kit.fontawesome.com/fff52c779c.js" crossorigin="anonymous"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script type="text/javascript" src="https://unpkg.com/vue-simple-suggest"></script>
        <link rel="stylesheet" href="https://unpkg.com/vue-simple-suggest/dist/styles.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.3.0/frappe-gantt.js"></script>
        <link rel='stylesheet' href='https://unpkg.com/v-calendar/lib/v-calendar.min.css'>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.3.0/frappe-gantt.css'>
        <script src='https://unpkg.com/v-calendar'></script>

    </head>
    <body>
      <div id="app" class="container">
        <div class="content">
          <div class="field">
            <label class="label">タスク名</label>
              <div class="control">
                <input class="input" type="text" v-model="name">
              </div>
          </div>
          <div class="field">
            <label class="label">開始日</label>
              <div class="control">
                <v-date-picker class="datepicker" :mode="'single'"
                  :formats="formats"
                  v-model="start"
                  >
                  <template v-slot="{ inputValue, inputEvents }">
                    <input
                      :value="inputValue"
                      v-on="inputEvents"
                    />
                  </template>
                </v-date-picker>
              </div>
          </div>
          <div class="field">
            <label class="label">開始日</label>
              <div class="control">
                <v-date-picker class="datepicker" :mode="'single'"
                  :formats="formats"
                  v-model="end"
                  >
                  <template v-slot="{ inputValue, inputEvents }">
                    <input
                      :value="inputValue"
                      v-on="inputEvents"
                    />
                  </template>
                </v-date-picker>
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link" @click="addTask()">Submit</button>
              </div>
              <div class="control">
                <button class="button is-link is-light">Reset</button>
              </div>
            </div>
          </div>
          <div v-if="tasks.length > 0">
            <table class="table" rules="all">
              <thead>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
                <th>Progress</th>
              </thead>
              <tbody>
                <tr v-for="task in tasks">
                  <td>{{ task.name }}</td>
                  <td>{{ task.start }}</td>
                  <td>{{ task.end }}</td>
                  <td>{{ task.progress }}</td>
                </tr>
              </tbody>
            </table>
            </div><br>
            <svg id="gantt"></svg>
          </div>
    </body>
<script>
var gantt;

var app = new Vue({
    el:"#app",
    data:{
      nowIds:3,
      tasks : [
        {
          id:0,
          name:'sample task 1',
          start:moment().format("YYYY-MM-DD"),
          end:moment().add(3, 'd').format("YYYY-MM-DD"),
          progress:100,
          dependencies:null
        },
        {
          id:1,
          name:'sample task 1',
          start:moment().add(5, 'd').format("YYYY-MM-DD"),
          end:moment().add(8, 'd').format("YYYY-MM-DD"),
          progress:50,
          dependencies:null
        },
        {
          id:0,
          name:'sample task 1',
          start:moment().add(11, 'd').format("YYYY-MM-DD"),
          end:moment().add(13, 'd').format("YYYY-MM-DD"),
          progress:10,
          dependencies:null
        }
      ],
      id:null,
      name:'',
      start:'',
      end:'',
      dependencies:'',
      formats: {
        input: ['YYYY年M月D日'],
        data: ['YYYY-MM-DD']
      }
    },
    methods:{
      addTask:function(){
        this.tasks.push({
          id: this.nowIds,
          name: this.name,
          start: moment(this.start).format('YYYY-MM-DD'),
          end: moment(this.end).format('YYYY-MM-DD'),
          progress: 20,
          dependencies: this.dependencies
        })
        if(gantt){
          gantt.refresh(this.tasks)
        }else if(!gantt){
          drawGantt()
        }
        this.nowIds += 1
      },
    }
  })

var drawGantt = function() {
  if(app.tasks.length >= 1){
    gantt = new Gantt("#gantt", app.tasks,{
      on_date_change: function(task, start, end) {
        for(var i=0;i<app.tasks.length;i++){
          if(app.tasks[i].id == task.id){
            var item={
              id: task.id,
              name:task.name,
              start : moment(start).format('YYYY-MM-DD'),
              end : moment(end).format('YYYY-MM-DD'),
              progress : task.progress,
              dependencies : task.dependencies
            }
            app.tasks.splice(i,1,item)
            gantt.refresh(app.tasks)
          }
        }
      },
    }
  )
 }
};
drawGantt()
</script>
<style>
#taskTable {
  border:1px solid black;
  border-collapse: collapse;
}
</style>
</html>